* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100%;
  position: relative;
}

/****************************************/

.user h1 {
  font-size: 50px;
  margin: 20px 0px;
}

/****************************************/

.list-group-item {
  font-size: 17px;
}

/****************************************/

.repository {
  padding-bottom: 50px;
}

/****************************************/

.single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfdfdf;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

/****************************************/

.item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33%;
}

/****************************************/

.item:nth-child(2) {
  text-align: center;
}

.item:last-child {
  text-align: right;
}

/****************************************/

footer {
  font-weight: bold;
}

footer span {
  color: #ee6464;
  margin: 0px 5px;
  font-weight: bold;
}

footer a {
  color: #ee6464;
}

/****************************************/

@media only screen and (max-width:767px) {
  .list-group-item {
    font-size: 20px;
  }
  .single {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center
  }
  .item {
    width: 100%;
  }
  .item:last-child {
    text-align: center;
  }
  .list-group-item {
    font-size: 16px;
  }
  .list-group {
    margin-top: 20px;
  }
  .user h1 {
    font-size: 30px;
  }
}