* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100%;
  position: relative;
}

.user h1 {
  font-size: 50px;
  margin: 20px 0px;
}

.list-group-item {
  font-size: 17px;
}

.repository {
  padding-bottom: 50px;
}

.single {
  display: flex;
  border: 1px solid #dfdfdf;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.item {
  flex-grow: 1;
  width: 33%;
}

.item:nth-child(2) {
  text-align: center;
}

.item:last-child {
  text-align: right;
}

footer {
  font-weight: bold;
}

footer span {
  color: #ee6464;
  margin: 0px 5px;
  font-weight: bold;
}

footer a {
  color: #ee6464;
}

@media only screen and (max-width:767px) {
  .list-group-item {
    font-size: 20px;
  }
  .single {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center
  }
  .item {
    width: 100%;
  }
  .item:last-child {
    text-align: center;
  }
  .list-group-item {
    font-size: 16px;
  }
  .list-group {
    margin-top: 20px;
  }
  .user h1 {
    font-size: 30px;
  }
}